html, body {
    margin: 0;
    height: 100%;
    font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100%;
}

a {
    color: #333;
}

a:active {
    color: #333;
}

a:hover {
    color: #333;
}
